body{
  background-color: orange;
}

.no-data{
  color: #e74c3c;
  display: block;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.box1{
  border-radius: 2em;
  height: 700px;
  margin-top: 20px;
  background-color: #F49D1A;
}

#box-case1 {
  width: 300PX;
  height: 50px;
  float: left;
  background-color: #285430;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -297px;
  margin-top: 68px;
  margin-bottom: 15px;
}
#box-case2 {
  width: 300PX;
  height: 50px;
  float: left;
  background-color: #285430;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -299px;
  margin-top: 142px;
  margin-bottom: 15px;
}
#box-case3 {
  width: 300PX;
  height: 50px;
  float: left;
  background-color: #285430;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -298px;
  margin-top: 226px;
  margin-bottom: 15px;
}
#box-case4 {
  width: 300PX;
  height: 50px;
  float: left;
  background-color: #285430;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
  margin-top: 32px;
  margin-bottom: 15px;
}
#box-case5 {
  width: 300PX;
  height: 50px;
  float: left;
  background-color: #285430;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 15px;
}
#box-case6 {
  width: 300PX;
  height: 50px;
  float: left;
  background-color: #285430;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#search-form {
  width: 30%;
  display: block;
  margin: auto;
  height: 120px;
}

#search-form h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 25px;
}

#search-form input {
  width: 70%;
  border: none;
  outline: none;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 4px;
}

#search-form button {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #27ae60;
  color: #fff;
  border-radius: 4px;
}

#container {
  width: 90%;
  margin: auto;
}
